/*
 * 
 * IVORY Framework - http://www.weice.in/ivory
 * Developed by Lakshmikanth Vallampati - kanth.vallampati@gmail.com
 * Licensed under GPLv2 
 * 
 */

/* ---- Clearfixes ---- */
.row:before,.row:after,.clearfix:before,.clearfix:after{content:'';display:table}
.row:after,.clearfix:after{clear:both}
.row,.clearfix{zoom:1}

