/* Las estructuras */
body
	background #e1d1eb
	background linear-gradient(to bottom, #ffffff 0%,#e1d1eb 23%,#816699 59%,#e0d4ea 100%)
	background -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(23%,#e1d1eb), color-stop(59%,#816699), color-stop(100%,#e0d4ea))
	filter unquote("progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0d4ea',GradientType=0 )")
	color gris_texto
	padding 0
	text-align center

	a
		transition(all ease-in-out 0.3s)

		figure, img
			transition(all ease-in-out 0.3s)
			
			&:hover
				opacity 0.7

aside
	color negro
	display block
	float none
	font-size 0.9em
	margin 0.5em 0
	
	section
		text-align left

		address
			font-style normal
		
		address ul, ul
			padding 0 1em
			margin-top 0

			li
				border-top 1px dotted gris_concreto
				list-style none
				padding 0.5em 0

				&:first-child
					border-top none
				
				a
					color gris_lila_middle
					display block
					text-decoration none

					&:hover
						color gris_lindo


			.current_page_item, .current-menu-item
				a
					color dorado
		
		figure
			margin 0.5em
			max-width 200px

		h4
			color morado_claro
			margin 0
			padding 0.5em 1em

			a
				color morado_claro
				margin 0
				text-decoration none

				&:hover
					color gris_lindo

		p
			margin 0.5em

blockquote
	border-left 4px solid dorado
	font-family 'Fjord'
	font-size 1.2em
	font-style italic
	padding-left 1em

	&:before
		content "\e643"
		color dorado
		display inline
		font-family 'icomoon'
		font-size 3em
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		line-height: 1;
		speak: none;
		text-transform: none;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;

footer
	border-top 1px solid #bbb
	color amatista
	margin 0
	padding 1em
	
	a
		color morado_wisteria
		text-decoration none

		&:hover
			color 
			text-decoration underline

h1, h2, h3, h4, h5, h6
	font-family 'Fjord'

header
	background #40073c
	background linear-gradient(to bottom, #40073c 0%,#540f5f 26%,#6b1580 100%)
	background -webkit-gradient(linear, left top, left bottom, color-stop(0%,#40073c), color-stop(26%,#540f5f), color-stop(100%,#6b1580))
	filter unquote("progid:DXImageTransform.Microsoft.gradient( startColorstr='#40073c', endColorstr='#6b1580',GradientType=0 )")

section
	overflow hidden

/* Los id's */
#boton_menu
	display inline-block
	position absolute
	right 0.3em
	top 0.3em

	#menu
		background transparent
		border 1px solid #aaa
		border-radius(4px)
		box-sizing()
		height 40px
		opacity 0.8
		overflow hidden
		padding 0.2em 0.25em
		width 45px
		z-index 1987

		&:focus
			opacity 0.9

		&:hover
			background #333
			opacity 1

		span
			background blanco_transparente
			border 1px solid #fff
			border-radius(2px)
			display block
			margin 0.25em auto
			padding 0
			width 70%

#header_nav
	margin 0
	padding 0
	height 0
	opacity 0
	transition(all 0.3s ease-in-out)
	visibility hidden

	li
		list-style none
		text-align left

		a
			background #fcfff4
			background linear-gradient(to bottom, #fcfff4 0%,#dfe5d7 40%,#b3bead 100%)
			background -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfff4), color-stop(40%,#dfe5d7), color-stop(100%,#b3bead))
			filter unquote("progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 )")
			border-bottom 1px solid #222
			border-top 1px solid #888
			color #454545
			display block
			padding 0.3em 1em
			font-size 24px
			overflow hidden
			text-decoration none
			text-shadow_lindo()
			transition(none)

			&:after
				content "›"
				display inline-block
				float right

			&:hover
			&:focus
				background #cedce7
				box-shadow(0px 0px 20px 10px negro_re_transparente inset)



	.current-menu-item
	.current_page_item
		a
			color dorado

			&:hover, &:focus
				cursor initial

			&:after
				transform(rotateZ(90deg))

	ul
		padding 0 auto
		margin 0 auto


#home_col
	.columnas-4
		&:first-child
			border-top none
		
		&:last-child
			border-bottom none


#ir_arriba
	background rgba(marron_oscuro, 0.4)
	bottom 0.2em
	border-radius(4px)
	box-shadow_lindo()
	color blanco
	display inline-block
	font-family monotype
	font-size 40px
	right 0.2em
	opacity 0
	height 40px
	padding 0 0.3em 0.1em 0.3em
	position fixed
	text-decoration none
	text_shadow_lindo()
	transition (all 0.3s ease)
	visibility hidden
	z-index 31

#ir_arriba:focus
	background rgba(marron_oscuro, 0.75)

#ir_arriba:hover
	background rgba(marron_oscuro, 1)

#ir_arriba:active
	background rgba(red, 0.5)


#logo
	display inline-block
	margin 0.2em
	width auto

	figure
		width auto

		figcaption
			color naranja_claro
			display none
			text-shadow_lindo()
			vertical-align middle

			span
				color blanco_lila
				font-family inherit

				&:after
					color naranja_claro
					content " \e66a \e66a"
					font-family 'icomoon'
					font-size 0.9em
					text-shadow(0px 0px 2px #000)

			small
				display none

		img
			vertical-align middle
			width 50px

#reservar
	display inline-block
	margin 0.5em auto

	a
		background gris_concreto
		border-radius(5px)
		box-shadow(0px 0px 20px 10px negro_re_transparente inset)
		color blanco_lila
		padding 0.5em
		opacity 0.5
		text-decoration none
	
#search
	box-sizing()
	display inline-block
	margin 0.2em
	padding 0
	vertical-align top

	form
		box-sizing()
		display block
		margin 0
		overflow hidden 
		padding 0
		width 100%

		input[type="text"]
			border-radius (15px 0 0 15px)
			margin 0
			display inline-block


		span
			border-radius (0 15px 15px 0 !important)
			&:before
				color morado_wisteria
				text_shadow_lindo()
				vertical-align middle


#slideshow
	margin 0 auto
	overflow hidden
	position relative
	text-algin center
	width 100%

	img
		width 100%

	#alt-caption
		height 0
		opacity 0
		visibility hidden

	.navegacion
		box-sizing()
		display block
		margin 0
		overflow hidden
		padding 0
		position absolute
		bottom 0
		width 100%
		z-index 945

		a
			background negro_re_transparente
			color blanco
			font-size 32px
			height 36px
			line-height 32px
			padding 0 0.4em
			position relative
			text-decoration none
			text_shadow_lindo()

			&:hover, &:focus
				background negro_transparente
		
		.back
			float left

		.next
			float right

			


/* Las Clases */
.columnas-4
	border-top 1px solid #fff
	border-bottom 1px solid #ccc
	display inline-block
	font-size 0.95em
	margin 0
	overflow hidden
	text-align left
	vertical-align top

	figure
		float left
		margin 0.5em 1em 0 0
		width 150px

		figcaption
			color dorado
			display block
			font-weight bolder
			padding 0.5em 1em
			text-align center
	
	h3
		display inline-block
		font-weight lighter
		margin 0

		a
			color negro
			text-decoration none

			&:hover
				color gris_lindo

	p
		margin 0.5em

.contacto
	.tarifa
		font-size 14px
		overflow hidden
		
		th[colspan="4"]
			color #fff
			background morado_wisteria
			text_shadow_lindo()
		td
			padding auto

				

.contenido
	overflow hidden
	h3
		font-size 1em

	.formulario
		input
		label
		textarea
			float none
			width 90%

.galeria
	border-bottom 1px solid #fff
	padding-bottom 1em
	text-align center

	.figure
		float none
		display inline-block
		margin-bottom 4px
		max-width 265px
		overflow hidden
		vertical-align top


.texto
	border-top 3px solid dorado
	color gris_texto
	display block
	float none
	padding-top 0.5em

	h3, h4, h5, h6
		color morado_claro
		border-bottom 1px dotted gris_claro
		margin-bottom 0.2em


.current-menu-item, .current_page_item
	a
		&:hover, &:focus
			cursor initial

.figure
	box-sizing()

	img
		width 100%



.home_text
	background #F8F8F6
	background linear-gradient(to bottom, rgba(248,248,246,0.2) 0%,rgba(248,248,246,1) 46%,rgba(248,248,246,1) 100%)
	background -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(248,248,246,0.2)), color-stop(46%,rgba(248,248,246,1)), color-stop(100%,rgba(248,248,246,1)))
	filter unquote("progid:DXImageTransform.Microsoft.gradient( startColorstr='#33f8f8f6', endColorstr='#f8f8f6',GradientType=0 )")
	padding 1em 0.5em
	overflow hidden

	article
		color dorado
		overflow hidden
		
		figure
			margin auto
			max-width 300px
		
		h2
			color naranja_fanta
			display inline-block
			font-weight lighter
			text-algin center
			margin 0.2em


.plateado
	background #DBDAD0

.redes-sociales
	p
		text-align center
		
		a
			box-shadow(0px 0px 20px 10px negro_re_transparente inset)
			color blanco_normal
			display inline-block
			font-size 3em
			margin 1px -1px
			padding 0.3em
			text-decoration none
			text_shadow_lindo()
			width 30%

			&:hover
				background #444

		.icon-facebook
			background azul_feisbuc

		.icon-feed
			background naranja_fanta

		.icon-googleplus
			background rojo_google

		.icon-twitter
			background celeste_twitter

.search
	article
		color gris_texto
	
.seccion_gris
	background none

.second_nav
	display none
	float left
	text-align left
	vertical-align top
	width 24%

	h2
		border-bottom 2px solid gris_nube
		margin 0 0.5em auto 0.5em
		padding-bottom 0.5em
		color morado_claro

	
	ul
		font-family 'Fjord'
		padding 0
		
		li
			list-style none
			
			&:before
				content "›"
				font-size 1.5em
				padding-right 0.5em

			a
				color gris_absesos
				text-transform uppercase
				text-decoration none
				letter-spacing -1px
				transition(all 0.3s ease-in-out)

				&:hover, &:focus
					color dorado

		.current-menu-item, .current_page_item
			a, &:before
				color dorado

.etiquetas
	background #eee
	border-radius(4px)
	color gris_concreto
	display block
	font-family 'Fjord'
	font-size 0.9em
	padding 0.2em 0.5em
	overflow hidden

	a
		color naranja_fanta
		padding-right 0.5em
		text-decoration none
		
		&:hover, &:focus, &:active
			color rojo_ladrillo

	i
		padding-right 0.2em


.inline-block
	margin 0
	padding 0

	li
		display inline-block
		float left
		padding 0 0.5em
		
		&:first-child
			border-left none
		&:last-child
			border-right none


.tipo_blog
	h3
		strong
			color rojo_ladrillo
	.search
		article
			border-top 1px solid #fff
			border-bottom 1px solid #bbb
			&:first-child
				border-top none
			&:last-child
				border-bottom none

			h3, h4, h5, h6
				display inline-block
				border-bottom none
				margin-top 0.7em


.ver_mas
	float right
	margin 0 0.5em 0.5em 0.5em
	&:after
		content "›"
		display inline-block
		padding-left 0.5em



.width-200px
	width 200px

.wrapper
	margin 0 auto
	max-width 1200px
	position relative

/* Mediaqueries */
@media only screen and (min-width: 350px)
	.home_text
		article
			figure
				float left
				margin 1em 1em 0.5em 0

			h2
				text-algin right

@media only screen and (min-width: 515px)
	#logo
		figure
			figcaption
				display inline-block

	#search
		float right
		
		form
			width auto

	.contacto
		.tarifa
			font-size 16px

	.inline-block
		li
			border-right 1px solid #f9f9f9
			border-left 1px solid gris_claro

@media only screen and (min-width: 600px)
	#search
		margin-right 3em
		
		form
			input[type="text"]
				width auto

	.contenido
		.texto
			box-sizing()
			color gris_texto
	.columnas-2
			column-count(2)
			column-gap(2em)



@media only screen and (min-width: 720px)
	aside
		margin 1em auto
		max-width 1100px

		section
			display inline-block
			vertical-align top
			width 48%

		.redes-sociales
			overflow hidden
			
			a
				width 80%
	

	.columnas-4
		border-bottom none
		border-top none
		display inline-block
		max-width 45%
		vertical-align top

		figure
			margin 0
			float none
			width auto

		h3
			margin 0 0 0.5em 0

@media only screen and (min-width: 960px)
	aside
		section
			width 24.3%

	body
		position relative
		top -1em
	
	section
		max-width 1100px
		margin auto
	
	
	#boton_menu
		display none

	#header_nav
		display block
		height auto
		opacity 1
		position absolute
		right 0
		text-algin right
		top 6em
		visibility visible
		max-width 67%
		
		li
			display inline-block
			float left

			a
				background none
				border none
				color blanco_lila
				font-size 1em
				letter-spacing -2px
				padding 5px
				transition(all 0.3s ease-in-out)

				&:hover, &:focus
					background #DADAD0
					box-shadow(none)
					color #541B62
				
				&:after
					display none

		.current_page_item, .current-menu-item
			a
				&:hover, &:focus
					background none
					box-shadow(none)
					color dorado


	#home_col
		margin-top 1.5em
			
	
	#logo
		border 4px solid blanco_normal
		border-bottom 1em solid blanco_normal
		border-top none
		box-shadow(0px 2px 2px #333)
		margin-top 0
		padding-top 1em
		position relative
		top -1em
		transform( rotate(-5deg)  translateX(80px)  translateY(30px) )
		transition(all 0.7s cubic-bezier(.61,-0.27,.41,1.33))
		z-index 554

		&:hover, &:focus
			transform( rotate(0deg) translateX(50px)  translateY(30px) )
			
		
		figure
			display block
			padding 0.2em 0.4em

			figcaption
				span
					color negro
					text-shadow( 1px 1px 1px #fff unquote(',') 2px 2px 1px #fff unquote(',') -1px -1px 1px #fff unquote(',') -2px -2px 1px #fff  unquote(',') -1px 1px 1px #fff unquote(',') -2px 2px 1px #fff unquote(',') 1px -1px 1px #fff unquote(',') 2px -2px 1px #fff)

			figcaption, figcaption small
				display block
				text-algin center !important

				small
					color blanco_lila

			img
				display block
				margin 1em auto
				width 80px

	#search
		margin 2em 0.1em auto auto

	#slideshow
		#alt-caption
			background rgba(248,248,246,0.7)
			bottom 0
			color morado_wisteria
			display block
			font-size 1.2em
			height 35px
			left 1%
			margin 0 auto
			max-width 1100px
			opacity 1
			padding 0.5em auto
			position absolute
			right 1%
			text-transform uppercase
			vertical-align baseline
			visibility visible
			width 100%
			z-index 654

		.navegacion
			display inline-block
			height 35px
			position absolute
			right 4%
			overflow hidden
			width auto
			
			.next, .back
				background rgba(180,180,180,0.5)
				float none
				font-size 4em
				font-weight lighter
				display inline
				padding 0 0.2em
				position relative
				top -6px
				vertical-align middle
				width 40px

	.contenido
		border-left 1px solid rgba(dorado, 0.5)
		padding-left 0.5em
		
		h3
			margin-top 0
	
	.columnas-4
		max-width 24%

	.home_text
		margin auto
		max-width 1100px

	.second_nav
		display inline-block

@media only screen and (min-width: 1140px)
	#header_nav
		top 8em
		max-width 100%