/* Integración de todos */

/* Normalizadores para navegadores */
@import 'normalize.styl'
@import 'main.styl'
@import 'index.styl'

/* Variables y funciones */
@import 'variables.styl'
@import 'funciones.styl'

/* Pack de íconos vectoriales completos */
@import 'icomoon/icomoon.styl'

/* Estilos para los fancybox */
@import 'source/jquery.fancybox.styl'
@import 'helpers/jquery.fancybox-buttons.styl'
@import 'helpers/jquery.fancybox-thumbs.styl'

/* El formulario de Contacto Contact Form 7 */
@import 'styles.styl'
@import 'styles-rtl.styl'
@import 'forms.styl'

/* Estilos de los almanaques de jQuery-UI */
@import 'datepicker.styl'

/* Estructuras y clases */
@import 'clearfixes.styl'
@import 'grid_layout.styl'
@import 'alignments.styl'
@import 'typography.styl'
@import 'lists.styl'
@import 'buttons.styl'
@import 'alerts.styl'
@import 'tables.styl'
@import 'pagination.styl'
@import 'tooltips.styl'
@import 'toogles.styl'

/* Estructuras específicas y personalizadas */
@import 'estructura.styl'

/* Las mediaqueries */
@import 'mediaqueries.styl'

/* Estilos para impresoras */
@import 'print.styl'