/*
 * 
 * IVORY Framework - http://www.weice.in/ivory
 * Developed by Lakshmikanth Vallampati - kanth.vallampati@gmail.com
 * Licensed under GPLv2 
 * 
 */


/* ---- Typography ---- */
h1, h2, h3, h4, h5, h6 { 
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-weight: none; 
	font-style: normal; 
	color: #333333;
	text-rendering: optimizeLegibility; 
	line-height: 1.1em; 
	margin-bottom: 10px; 
	margin-top: 10px; 
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small { font-size: 80%; color: #333333; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; text-decoration:none; }
h1 {font-size: 36px; line-height: 48px;}
h2 {font-size: 32px; line-height: 42px;}
h3 {font-size: 28px; line-height: 36px;}
h4 {font-size: 24px; line-height: 32px;}
h5 {font-size: 21px; line-height: 27px;}
h6 {font-size: 18px; line-height: 27px;}

a {color: #2ba6cb; text-decoration: none; line-height: inherit; }
a:hover {color: #333333; }
a:focus {color: #333333; outline: none; }

p {margin-bottom: 10px; padding:0; font-size: 18px; line-height: 28px; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;}
p span {color: #46aae3; }
p a, p a:visited {line-height: inherit; }

blockquote, blockquote p{color: #6F6F6F; font-size: 18px; line-height: 24px; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;}
blockquote{border-left: 1px solid #DDDDDD; padding: 0 10px; margin-bottom: 10px;}
blockquote cite{color: #555555; display: block; font-size: 20px;}
blockquote cite:before{content: "- ";}

sub, sup {font-size: 60%; line-height: 0; position: relative; vertical-align: baseline;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}
i { font-style: italic; line-height: inherit; }
strong, b { font-weight: bold; line-height: inherit; }
small { font-size: 70%; line-height: inherit; }

hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 20px 0 20px; height: 0; }

