/* Variables de colores */
azul_google = #4285F4

blanco = #eee
blanco_grisaceo = #EBEAE8
blanco_lila = #F3E2F2
blanco_lila_logo = #FFE9FF
blanco_normal = #F6F7F2
blanco_transparente = rgba(255,255,255,0.5)

celeste_twitter = #4DA3C2

dorado = #BA934E

gris_bottom = #E1D3EC
gris_claro = #DADAD0
gris_lila_middle = #816699
gris_oscuro_letra = #636361
gris_oscuro_logo = #F3E2F2
gris_top = #E2D2EC

lila = #9C8DAC

marron_claro = #68512E
marron_normal = #402F15
marron_oscuro = #302310

morado_bottom = #6B167E
morado_claro = #BB72D3
morado_oscuro = #540A6D
morado_primario = #8600AF
morado_top = #3C0838

naranja_claro = #F2B65C
naranja_primario = #FB9900
naranja_oscuro = #B7720B

negro = #222
negro_re_transparente = rgba(0,0,0,0.25)
negro_transparente = rgba(0,0,0,0.5)

verde_claro = #A6E27A
verde_primario = #65B031
verde_oscuro = #49891B